.top-bar {
  width: 100vw;
  position: fixed;
  min-height: 100px;
  max-width: 100%;
  background-color: #ffb545;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.brand {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  background-color: red;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 64px;
}

@media screen and (min-width: 768px) {
  .top-bar {
    flex-direction: row;
    max-height: 200px;
  }
  .brand {
    flex: 1;
  }
  .search {
    flex: 3;
  }
}
